.linksContainer {
    display: flex;
    padding-left: 2.5rem; /* px-10 */
    padding-top: 2rem; /* py-8 */
    padding-right: 2.5rem; /* px-10 */
    padding-bottom: 2rem; /* py-8 */
    gap: 5rem; /* gap-x-20 */
    justify-content: center;
}

.pages, .findMe {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pagesTitle, .findMeTitle {
    color: #9e9e9e;
    font-size: 1.125rem; /* text-lg */
    font-weight: 500; /* font-medium */
    margin-bottom: 0.75rem; /* mb-3 */
}

.link {
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
}

.linkText {
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    color: black;
    transition: color 0.3s ease;
}

.link:hover .linkText {
    color: #1d4ed8;
}

.linkUnderline {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: background-color 0.3s ease;
    margin-top: 0.25rem;
}

.link:hover .linkUnderline {
    background-color: #1d4ed8;
}

.linkContainer {
    position: relative;
    display: flex;
    align-items: center;
}
