.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 640px) {
    .container {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .questionContainer {
    margin-bottom: 1.5rem;
  }
  
  .question {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .answer {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
  }
  