.container {
  overflow: hidden;
  height: 5rem;
  background-color: #202426;
  max-width: 100%;
  margin: 5rem 0 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  cursor: default;
  

}

@media (min-width: 640px) {
  .container {
    height: 5rem;
  }
}

@media (min-width: 768px) {
  .container {
    height: 6rem;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 8rem;
  }
}

.title {
  font-size: 1rem;
  margin-top: 1rem;
  color: #757575;
  padding-top:  rem;
}

@media (min-width: 640px) {
  .title {
    font-size: 0.875rem;
    padding-top: 0.25rem;
  }
}

.skillsText {
  font-size: 0.75rem;
  font-weight: 600;
  color: #ffff;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 20s linear infinite;
}

@media (min-width: 640px) {
  .skillsText {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .skillsText {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .skillsText {
    font-size: 1.875rem;
  }
}

.icon {
  height: 2rem;
  width: 2rem;
}

@media (min-width: 640px) {
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  .icon {
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: 1024px) {
  .icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.arrow {
  margin-right: 0.5rem;
  margin-top: 7px;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
    
  }
  100% {
    transform: translateX(100%);
  }
}

